# Vercel Environment Variables for Form Submissions

# Optional: Custom primary CRM / Automation Webhook URL (defaults to the project default if not specified)
WEBHOOK_URL=https://mis13.app.n8n.cloud/webhook-test/7ff9cd84-6980-459a-8109-12799c07d4cb?t=957b1bbf705f3e384c3315842ea2be9c5eb5fe3f9680501a14de8cdb06e93b846a5d469f2c12e0b9a3fd6ad2b4c63e88a5993a267d11b5badd55c10002ffc2ba

# Optional: Custom Formspree URL (defaults to the project default if not specified)
FORMSPREE_URL=https://formspree.io/f/mojprwpw
